
.footer1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #669EFF;
  height: 40px;
}
.footer-links {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  text-decoration: none;
  gap: 30px;
}
.footer-links li:nth-child(1),
.footer-links li:nth-child(2) {
  //font-size:10px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid rgba(#E0E0E0, 100%);
  border-radius: 20px;
  padding: 5px;
}
.footer-icons {
  display: flex;
  gap: 15px;
}
.twiter-logo,
.yt-logo,
.facebook-logo,
.footer-icons img {
  width: 30px;
  display: flex;
  justify-content: flex-end;
}
.footer-links a {
  color:  #E0E0E0;
  text-decoration: none;
}
.footer2 {
  display: flex;
  justify-content: center;
  background-color: #E0E0E0;
}
.footer2 p {
  color: #5C5C5C;
  font-size: 100;
  margin: 4px 0px;
}
.footer3 {
    background-color: gray;
    height: 80px;
    align-items: center;
}
.pay-apps {
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    align-items: center;
}
.pay-apps li:nth-child(1) {
    border-radius:6px;
    overflow: hidden;
}