.header {
  height: 100px;
  background:(gray);

  font-size: 36px;
  display: flex;
  justify-content: space-between;
padding: 0 20px;
align-items: center;
  .header-links {
    display: flex;
    gap: 50px;
    color: white;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    a {
      color: white;
      text-decoration: none;
      font-size: x-large;
    }
  }

  .header-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    gap: 20px;

    svg,img  {
    align-content: center;
      width: 32px;
      height: 32px;
    }
  }

  .loginicon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    fill: white;
  }

  

  .logo svg {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 200px;
  }
  .login-button svg {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    fill: white;
    width: 64px;
    height: 64px;
    margin-top: 15px;
  }
  .checkout-button{
  fill: rgb(252, 252, 252);
    width: 64px;
    display: flex;
    height:64px;
    align-items: center;
  }
  .username-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    .username {
    display: inline-block;
    width:100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
      color: white;
      font-size: 30px;
  }
  }
  
}
.closeM {
  position:absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  transition: transform 0.15s;
    &:hover {
      transform: scale(1.5);

    }
}
.titleM {
  padding-top: 30px;
}
.log {
  display: flex;
  flex-direction: column;
  align-items: center;
  .log-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .log-p {
    margin-bottom: 10px;
  }
  .log-input {
    width: 300px;
    height: 40px;
    font-size: 25px;
    background-color: rgba(128, 128, 128, 0.2);
    border-width: 0.1px;
    border-color: rgba(128, 128, 128, 0.2);
    border-radius: 3px;
    margin-top: 40px;
  }
  .log-input:hover {
    background-color: rgba(128, 128, 128, 0.4);
    border-color: rgba(128, 128, 128, 0.5);
    border-radius: 3px;
  }
  .log-input:focus {
    border-color: black;
    outline-color: black;
    border-radius: 3px;
  }
} #theme-switch{
  height: 50px;
  width:50px;
  padding:0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display:flex;
  justify-content: center;
  align-items: center;
  top:20px;
  right:20px;
  border:none;
 }
 #theme-switch svg{
  fill: var(white);
  margin-top: 10px;
 }
 #theme-switch:hover svg{
  cursor: pointer;
 }
 #theme-switch svg:last-child{
  display:none;
 }

 
 .darkmode #theme-switch svg:first-child{
  display:none;
  fill: white;
 }
 .darkmode #theme-switch svg:last-child{
  display:block;
  fill:white;
 }
 .themeswitch{
  fill:white;

 }
 .bottom-buttons{
  position: absolute;
  bottom: 50px;
 }
 .modal-buttons {
  width: 100px;
  height: 30px;
 }