.header {
  height: 100px;
  background:(gray);

  font-size: 36px;
  display: flex;
  justify-content: space-between;
padding: 0 20px;
  .header-links {
    display: flex;
    gap: 50px;
    color: white;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    a {
      color: white;
      text-decoration: none;
      font-size: x-large;
    }
  }

  .header-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    gap: 20px;

    svg,img  {
    align-content: center;
      width: 32px;
      height: 32px;
    }
  }

  .loginicon {
    display: flex;
    justify-content: flex-end;

  }

  .login-button svg {
    width: 32px;
    height: 32px;
  }

  .logo svg {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 200px;
  }
  .checkout svg{
  fill: black;
    width: 64px;
    height:64px;
  }
}
.modal {
  position: relative;
  width: 200px;
  background: white;

}
.closeM {
  position:absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  transition: font-size 0.2s, top 0.2s, right 0.2s;
    &:hover {
      font-size: 30px;
      top: 12px;
      right: 12px;

    }
}
.titleM {
  padding-top: 30px;
}
 #theme-switch{
  height: 50px;
  width:50px;
  padding:0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display:flex;
  justify-content: center;
  align-items: center;
  top:20px;
  right:20px;
 }
 #theme-switch svg{
  fill: var(--primary-color);
 }
 #theme-switch svg:last-child{
  display:none;
 }
 
 .darkmode #theme-switch svg:first-child{
  display:none;
 }
 .darkmode #theme-switch svg:last-child{
  display:block;
 }