.checkout-title{
    font-size: xx-large;
    text-decoration: underline;
    font-weight: 600;
    margin-bottom: 20px;
}
.checkout-pic{
    width: 300px;
    display: flex;
    flex-direction: column;

}
.checkout-name{ font-size:30px;
font-weight: 600;


}
.remove-button{ margin-left: 10px;
    background-color:red;
}
.checkout-box{
    display: flex;
    flex-direction: row;

}
.checkout-total{
    font-weight:900;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    text-decoration:underline
}