.download-title{
    font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 10px;
  border-bottom: 2px solid #ff6f61; /* accent underline */
  display: inline-block;
  padding-bottom: 5px;
}
.download-icons img{ 
  width: 200px;
  height: 200px;
    font-size: 1rem;
    font-weight: 500;

}