.product-wrapper {

    display: flex;
    flex-wrap: wrap;

    .product-box {
        box-sizing: border-box;
        width: 25%;
        padding: 25px;
    }
    .product-name{
         
    display: inline-block;
    width:100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;

        font-size: x-large;
        font-weight:bold;
        
    }
    .product-tag{
        font:bold;
        font-size: medium;

    }
    .product-price{
        font-size: medium;
    }



}
.Home-title{
    font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 10px;
  border-bottom: 2px solid #ff6f61; /* accent underline */
  display: inline-block;
  padding-bottom: 5px;
}