#page {
    min-height: 100vh;
}
.product-wrapper {

    display: flex;
    flex-wrap: wrap;

    .product-box {
        box-sizing: border-box;
        width: 25%;
        padding: 25px;
    }
    .product-name{
         
    display: inline-block;
    width:100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;

        font-size: x-large;
        font-weight:bold;
        
    }
    .product-tag{
        font:bold;
        font-size: medium;

    }
    .product-price{
        font-size: medium;
    }



}
.Home-title{
    font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 10px;
  border-bottom: 2px solid #ff6f61; /* accent underline */
  display: inline-block;
  padding-bottom: 5px;
}
:root{
    background-color: white;
    .header{
        background-color: rgb(49, 49, 214);
    }
    .footer3{
        background-color:  rgb(49, 49, 214);
    }
}
.darkmode{
    background-color: rgb(0, 0, 0);
    .header{
        background-color: rgb(70, 26, 59);
    }
    .footer3{
        background-color:  rgb(70, 26, 59);

    }
    color:white;
    .Home-title{
        color:white;
    }
.contact-elements{
    background-color: black;
}
.contact-title{
    color: white;
}
.about-title{
    color: white;
}
.about-elements{
    background-color: black;
}
.download-title{
    color:white;
}
.blog-title{
    color:white;

}
.blog-elements{
    background-color: black;
}

}