.tm-elements {
    color: rgba(95, 95, 95, 0.859);
    text-align: center;
    margin: 0 60px;
    font-size: 20px;
}
.tm-title {
    color: rgb(52, 52, 52);
    margin-bottom: 20px;
    font-size: 45px;
}